#backImg{
    position: absolute;
    background-image: url(bgimage.jpg);
    width: 1300px;
    height: 600px;
    /*left: calc(50% - 222px/2 - 571px);*/
    padding-left: 5px;
    right: 0px;
    background-size: cover;
}
    .logo{
	
    position: absolute;
    width: 94px;
    height: 25px;
    left: 12px;
    top: 51px;
    background: url(polyone.png);
	}
    
      .text-blck{
        position: absolute;
        width: 120px;
        height: 40px;
        left: 180px;
        top: 80px;
        border: 1px solid black;
        line-height: 40px;
        background: #00FF47;
        background: linear-gradient(90deg, #00FF47 1.89%, #1CD9A0 100%);
        padding-left: 50px;
        padding-right: 20px;
        border-radius: 81px 100px 100px 100px;
      }
      .about{
        position: absolute;
        width: 44px;
        height: 14px;
        left: 400px;
        top: 84px;
        
        font-family: Tomica;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 20px;
        letter-spacing: 0.03em;
        
        color: #000000;
      }
      .cura
      {
        position: absolute;
        width: 63px;
        height: 14px;
        left: 500px;
        top: 84px;
        
        font-family: Tomica;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 20px;
        letter-spacing: 0.03em;
        
        color: #000000;
      }
      .submi{
        position: absolute;
        left: 800px;
        font-size: 15px;
        padding: 0px 10px 10px 10px;
        top: 80px;
        bottom: 10px;
        width: 100px;
        height: 30px;
        text-align: center;
        border: 1px solid #00FF47;
        box-sizing: border-box;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        border-radius: 16px;
      }
      

      .cont-block{
		position: absolute;
		right: 110px;
		top: 50px;
		margin: 20px;
		padding-left: : 50px;
        padding-right: 60px;
		line-height: 40px;
		text-align: center;
		border: 1px solid  #FFFFFF;
        padding:0px 20px 10px 20px;
		filter: drop-shadow(0px 3px 4px #000000);
		border-radius: 81px 100px 100px 100px;
		   }

           .exc{
            position: absolute;
          width: 500px;
          height: 50px;
          left: 150px;
          top: 300px;
  
          font-family: Tomica;
          font-style: normal;
          font-weight: bold;
          font-size: 20px;
          line-height: 20px;
  
          letter-spacing: 0.075em;
          text-transform: uppercase;
  
          color: #141414;
            }

            .polyOne{
                position: absolute;
               width: 500px;
               height: 50px;
               left: 150px;
               top: 310px;
               font-family: Tomica;
               font-style: normal;
               font-size: 40px;
               font-weight: bold;
               line-height: 40px;
               color: #181E4B;
            }
            .text{
                position: absolute;
                width: 300px;
               height: 100px;
               left: 150px;
               top: 400px;
               font-family: Helvetica;
               font-style: normal;
               font-weight: normal;
               font-size: 12px;
               line-height: 20px;
               color: #5E6282;
   
            }
      
            .back
            {
                position: absolute;
               left: 600px;
               right: 10px;
                bottom: 13%;
               background: url(re.png);
               width: 200px;
               height: 200px;;
               
               margin-left:-400;
               padding-left: 10px;
               box-sizing: border-box;
               object-fit: fill;

               border-radius: 30px 0px 0px 0px;
               
               text-align: center;
               
            }
        
            .desc {
                position: absolute;
               left: 10px;
                right: 400px;
               width: 190px;
               height: 20px;
               bottom: -100px;
               background: rgba(255, 255, 255, 0.91);
               border: 1px solid #000000;
               box-sizing: border-box;
               border-radius: 0px 0px 30px 0px;
                padding: 50px;
                font-size: 10px;
                text-align: center;
           }
           #backd{
               
            position: absolute;
            background-color:white;
            padding-left: 5px;
            width: 1300px;
            height: 600px;
            top: 700px;
            right: 0px;
            background-size: cover;
           }
   .nft{
    position: absolute;
    width: 497px;
    height: 31px;
    left: 400px;
    top: 100px;
    font-family: Tomica;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.13em;
    text-transform: uppercase;    
    color: #00FF47;
    border: 0px solid #000000;
    text-shadow: 2px 2px 0px #000000;    
   }
   .conte{
    position: absolute;
    width: 662px;
    height: 90px;
    left: 400px;
    top: 200px;
    
    font-family: Tomica;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    
    display: flex;
    align-items: center;
    
    color: #5E6282;
   }
   
   .card {
       position: absolute;
       left: 100px;
       top: 700px;
    
    transition: 0.3s;
    
    top: 300px;
    width: 30%;
    
    filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02)) 
    drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852))
    drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481))
    drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01))
    drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185)) 
    drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));
    border-radius: 30px 0px 0px 0px; 
  }
  .container {
    padding: 2px 2px;

  }
  .txt{
    position: absolute;
    width: 250px;
    height: 14.1px;
    left: 70px;
    top: 260px;
    right: 400px;
    bottom: -100px;
    background: rgba(255, 255, 255, 0.96);
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 0px 0px 30px 0px;
     padding: 40px;
     font-size: 10px;
     text-align: center;
}

  
   .soldo{
    position: absolute;
    width: 50%;
    height: 292px;
    left: 80px;
    top: 330px;
    border: 1px solid #00FF47;
    box-sizing: border-box;
    border-radius: 43px;
    border-top-color: white;
   }
   .tx{
    position: absolute;
    width: 200px;
    height: 100px;
    left: 10px;
    top: 40px;
    font-family: Tomica;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 130%;
    display: flex;
    align-items: center;
    
    color: #000000;
   }
   .limit{
    position: absolute;
    width: 127.33px;
    height: 11.58px;
    left: 50px;
    top: 230px; 
    font-family: Tomica;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 124.5%;
    /* or 14px */
    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.065em;
    
    color: #DF6951;
   }
   .remain{
    position: absolute;
    width: 127.33px;
    height: 11.58px;
    left: 80px;
    top: 320px;
    
    font-family: Tomica;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 124.5%;
    /* or 14px */
    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.065em;
    
    color: #DF6951;
    
   }
   .buy{
    position: absolute;
    width: 120px;
    height: 49px;
    left: 40px;
    top: 270px;
    text-align: center;
    
    background: linear-gradient(90deg, #00FF47 1.89%, #1CD9A0 100%);
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 81px 100px 100px 100px;
   }

   .cards {
    position: absolute;
    left: 500px;
    top: 700px;
    transition: 0.3s;
    border-radius: 25px;
    top: 300px;
    width: 30%;
    filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02)) 
    drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852))
    drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481))
    drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01))
    drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185)) 
    drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));
    border-radius: 30px 0px; 
 
    }
    
    .descs {
        position: absolute;
        top:250px;
       left: 70px;
        right: 400px;
       width: 250px;
       height: 20px;
       bottom: -100px;
       background: rgba(255, 255, 255, 0.96);
       border: 1px solid #000000;
       box-sizing: border-box;
       border-radius: 0px 0px 30px 0px;
        padding: 40px;
        font-size: 10px;
        text-align: center;
   }
    
   .cardss {
    position: absolute;
    left: 900px;
    top: 300px;
    transition: 0.3s;
    border-radius: 25px;
    top: 300px;
    width: 30%;
    filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02)) 
    drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852))
    drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481))
    drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01))
    drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185)) 
    drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));
    border-radius: 30px 0px; 
 
    }
    
    .descss{
      position: absolute;
      top:250px;
     left: 70px;
      right: 400px;
     width: 250px;
     height: 20px;
     bottom: -100px;
     background: rgba(255, 255, 255, 0.96);
     border: 1px solid #000000;
     box-sizing: border-box;
     border-radius: 0px 0px 30px 0px;
      padding: 40px;
      font-size: 10px;
      text-align: center 
    }    
    .curas{
      position: absolute;
      width: 497px;
      height: 31px;
      left: 476px;
      top: 1100px;
      font-family: Tomica;
      font-style: normal;
      font-weight: 900;
      font-size: 35px;
      line-height: 35px;
      text-align: center;
      letter-spacing: 0.13em;
      text-transform: uppercase;
      color: #00FF47;
      border: 0.5px solid #f7efef;
      text-shadow: 2px 2px 0px #000000;
    }
    .wea{
      position: absolute;
      width: 630px;
      height: 83px;
      left: 404px;
      top: 1150px;
      font-family: Tomica;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 124.5%;
      display: flex;
      align-items: center;
      text-align: center;
      color: #5E6282;
    }
    .rec{
      position: absolute;
      width: 300px;
      height: 320px;
      left: 300px;
      top: 1300px;
      background: #FFFFFF;
      border: 1px solid #000000;
      box-sizing: border-box;
      border-radius: 30px 0px;
    }
    .recimg{
      position: absolute;
      width: 320px;
      height: 211.61px;
      left: 250px;
      top: 1350px;
      padding-left: 0%;

      background: url(trand.png);
      filter: drop-shadow(0px 83.0043px 66.4035px rgba(0, 0, 0, 0.02))
       drop-shadow(0px 53.7991px 38.8891px rgba(0, 0, 0, 0.0151852)) 
       drop-shadow(0px 31.972px 21.1507px rgba(0, 0, 0, 0.0121481))
        drop-shadow(0px 16.6009px 10.7906px rgba(0, 0, 0, 0.01))
         drop-shadow(0px 6.76332px 5.41065px rgba(0, 0, 0, 0.00785185))
          drop-shadow(0px 1.53712px 2.6131px rgba(0, 0, 0, 0.00481481));
      border-radius: 19px;

    }
    .trend{
      position: absolute;
      width: 171.82px;
      height: 19.92px;
      left: 150.93px;
      top: 230.55px;
      font-family: Tomica;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 124.5%;
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 0.065em;
      color: #5E6282;
    }
    .recs{
      position: absolute;
      width: 300px;
      height: 320px;
      left: 800px;
      top: 1300px;
      background: #FFFFFF;
      border: 1px solid #000000;
      box-sizing: border-box;
      border-radius: 30px 0px;
    }
    .recsimg{
      position: absolute;
      width: 320px;
      height: 211.61px;
      left: 740px;
      top: 1350px;
      padding-left: 0%;

      background: url(brew.png);
      filter: drop-shadow(0px 83.0043px 66.4035px rgba(0, 0, 0, 0.02))
       drop-shadow(0px 53.7991px 38.8891px rgba(0, 0, 0, 0.0151852)) 
       drop-shadow(0px 31.972px 21.1507px rgba(0, 0, 0, 0.0121481))
        drop-shadow(0px 16.6009px 10.7906px rgba(0, 0, 0, 0.01))
         drop-shadow(0px 6.76332px 5.41065px rgba(0, 0, 0, 0.00785185))
          drop-shadow(0px 1.53712px 2.6131px rgba(0, 0, 0, 0.00481481));
      border-radius: 19px;

    }
    #backds{
      position: absolute;
            background-color:white;
            padding-left: 5px;
            width: 1300px;
            height: 600px;
            top: 2500px;
            right: 0px;
            background-size: cover;

    }
    .per{
      position: absolute;
      width: 96.39px;
      height: 29.57px;
      left: 125px;
      top: 50px;
      font-family: Poppins;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 27px;
      text-align: center;
      color: #5E6282
    }
    .wat{
      position: absolute;
      width: 385px;
      height: 94px;
      left: 125px;
      top: 100px;
      font-family: Tomica;
      font-style: normal;
      font-weight: bold;
      font-size: 40px;
      line-height: 40px;
      letter-spacing: 0.03em;
      text-transform: capitalize;
      color: #14183E;

    }
    .rect{
      position: absolute;
      width: 51.48px;
      height: 52.58px;
      left: 134px;
      top: 230px;
      background: #F0BB1F;
      border-radius: 13px;
    }
    .vect{
      position: absolute;
      width: 24.1px;
      height: 24.1px;
      left: 14px;
      top:12px;
      background: #FFFFFF;;
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }
    .wor{
      position: absolute;
      width: 257px;
      height: 22px;
      left: 208px;
      top: 230px;
      font-family: Tomica;
      font-style: normal;
      font-weight: 900;
      font-size: 19px;
      line-height: 124.5%;
      letter-spacing: 0.035em;
      color: #5E6282;
    }
    .lore{
      position: absolute;
      width: 358.17px;
      height: 43.81px;
      left: 208.48px;
      top: 250.83px;
      font-family: Tomica;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 124.5%;  
      color: #5E6282;
    }
    .rects{
      position: absolute;
      width: 51.48px;
      height: 52.58px;
      left: 134px;
      top: 350px;
      background: #F15A2B;
      border-radius: 13px;
    }
    .wors{
      position: absolute;
      width: 257px;
      height: 22px;
      left: 208px;
      top: 350px;
      font-family: Tomica;
      font-style: normal;
      font-weight: 900;
      font-size: 19px;
      line-height: 124.5%;
      letter-spacing: 0.035em;
      color: #5E6282;
    }
    .lores{
      position: absolute;
      width: 358.17px;
      height: 43.81px;
      left: 208.48px;
      top: 370px;
      font-family: Tomica;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 124.5%;  
      color: #5E6282; 
    }
    .rectss{
      position: absolute;
      width: 51.48px;
      height: 52.58px;
      left: 134px;
      top: 480px;
      background: #006380;
      border-radius: 13px;
    }
    .worss{
      position: absolute;
      width: 257px;
      height: 22px;
      left: 208px;
      top: 480px;
      font-family: Tomica;
      font-style: normal;
      font-weight: 900;
      font-size: 19px;
      line-height: 124.5%;
      letter-spacing: 0.035em;
      color: #5E6282;
    }
    .loress{
      position: absolute;
      width: 358.17px;
      height: 43.81px;
      left: 208.48px;
      top: 500px;
      font-family: Tomica;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 124.5%;  
      color: #5E6282; 
    }

    .bcks{
      position: absolute;
      width: 405.27px;
      height: 438.13px;
      left: 822.97px;
      top: 100px;
      background: #FFFFFF;  
      box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
      border-radius: 26px;
    }
    .blu{
      position: absolute;
      width: 100.75px;
      height: 401.99px;
      left: 1000px;
      top: 70px;
      background: #59B1E6;
      opacity: 0.8;
      filter: blur(150px);
    }
    .bks{
      position: absolute;
      width: 351.6px;
      height: 176.35px;
      left: 850.35px;
      top: 120px;
      background: url(bks.png);
      border-radius: 24px;
    }
    .new{
      position: absolute;
      width: 127.06px;
      height: 24.1px;
      left: 850.35px;
      top: 310px;
      font-family: Poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 124.5%;
      letter-spacing: 0.015em;
      color: #080809;
 }
     .dte{
      position: absolute;
      width: 96.39px;
      height: 21.91px;
      left: 850.35px;
      top: 350px;
      font-family: Poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 124.5%;
      letter-spacing: -0.005em;
      color: #84829A;
    }
    .by{
      position: absolute;
      width: 151.16px;
      height: 21.91px;
      left: 964.26px;
      top: 350px;
     font-family: Poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 124.5%;
      letter-spacing: -0.005em;
      color: #84829A;
    }
    .bor{
      position: absolute;
      width: 280px;
      height: 141.3px;
      left: 100px;
      top: 0px;
      background: #FFFFFF;
      box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
      border-radius: 18px;
    }
    .tajs{
      position: absolute;
      width: 81.05px;
      height: 72.29px;
      left: 10px;
      top: 10px;
      background: url(taj.png);
      background-repeat: no-repeat;
    }
    .ong{
      position: absolute;
      width: 63.53px;
      height: 18.62px;
      left: 100px;
      top: 10px;
      font-family: Poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 124.5%;
      letter-spacing: -0.035em;
      color: #84829A
    }
    .lau{
      position: absolute;
      width: 121.58px;
      height: 24.1px;
      left: 100px;
      top: 40px;
      font-family: Poppins;
      font-style: bold;
      font-weight: 500;
      font-size: 18px;
      line-height: 124.5%;
      letter-spacing: -0.015em;
      color: #080809;
    }
    .mint{
      position: absolute;
      width: 162.11px;
      height: 18.62px;
      left: 100px;
      top: 60px;
      font-family: Poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 124.5%;
      letter-spacing: -0.055em;
      color: #8A79DF;
    }
    .peo{
      position: absolute;
      width: 179.63px;
      height: 21.91px;
      
      left: 850px;
      top: 500px;
      font-family: Poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 124.5%;
      letter-spacing: -0.02em;
      color: #84829A;
    }
    .roadm{
      position: absolute;
      width: 497px;
      height: 31px;
      left: 460px;
      top: 700px;
      font-family: Tomica;
      font-style: normal;
      font-weight: 900;
      font-size: 35px;
      line-height: 35px;
      text-align: center;
      letter-spacing: 0.13em;
      text-transform: uppercase;
      color: #00FF47;
      border: 0.5px solid rgb(255, 249, 249);
      text-shadow: 2px 2px 0px #000000;
    }
    .thi{
      position: absolute;
      width: 938px;
      height: 44px;
      left: 200px;
      top: 750px;
      font-family: Tomica;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 124.5%;
      text-align: center;
      color: #000000;
    }
    .yel{
      position: absolute;
      width: 143px;
      height: 143px;
      left: 100px;
      top: 800px;
      background: radial-gradient(50% 50% at 50% 50%, #F1ED8D 0%,
       rgba(242, 181, 22, 0) 100%);
    }
    .phas{
      position: absolute;
      width: 156px;
      height: 78px;
      left: 100px;
      top: 950px;
      font-family: Tomica;
      font-style: normal;
      font-weight: normal;
      font-size: 19px;
      line-height: 22px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #000000;
      opacity: 0.4;
    }
    .blus{
      position: absolute;
      width: 143px;
      height: 143px;
      left: 400px;
      top: 800px;
      background: radial-gradient(50% 50% at 50% 50%, #A919DC 0%,
       rgba(55, 138, 163, 0) 100%); 
    }
    .prel{
      position: absolute;
      width: 120px;
      height: 90px;
      left: 400px;
      top: 950px;
      font-family: Tomica;
      font-style: normal;
      font-weight: normal;
      font-size: 19px;
      line-height: 23px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #000000;
      opacity: 0.4;
    }
    .grez{
      position: absolute;
      width: 143px;
      height: 143px;
      left: 700px;
      top: 800px;

      background: radial-gradient(50% 50% at 50% 50%, #21CA50 0%,
      rgba(182, 101, 245, 0) 100%);
    }
    .fuls{
      position: absolute;
      width: 119px;
      height: 78px;
      left: 730px;
      top: 950px;
      font-family: Tomica;
      font-style: normal;
      font-weight: normal;
      font-size: 19px;
      line-height: 23px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #000000;
      opacity: 0.4;
      }
      .bluss{
        position: absolute;
        width: 143px;
        height: 143px;
        left: 1000px;
        top: 800px;

        background: radial-gradient(50% 50% at 50% 50%, #0F25EF 0%,
        rgba(245, 39, 26, 0) 100%);
      }  
      .phass{
        position: absolute;
        width: 205px;
        height: 30px;
        left: 1000px;
        top: 960px;
        font-family: Tomica;
        font-style: normal;
        font-weight: normal;
        font-size: 19px;
        line-height: 20px;
        display: flex;
        align-items: center;
        color: #000000;
        opacity: 0.4;
      }
      .abt{
          position: absolute;
          width: 497px;
          height: 31px;
          left: 477px;
          top: 1200px;
          font-family: Tomica;
          font-style: normal;
          font-weight: 900;
          font-size: 35px;
          line-height: 35px;
          text-align: center;
          letter-spacing: 0.13em;
          text-transform: uppercase;
          color: #00FF47;
          border: 0.5px solid #fdf7f7;
          text-shadow: 2px 2px 0px #000000;
      }
      .brd{
        position: absolute;
        width: 708px;
        height: 450px;
        left: 373px;
        top: 1300px;
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
        border-radius: 24px;
      }
      .txts{
        position: absolute;
        width: 607px;
        height: 450px;
        left: 30px;
        top: 0px;
        font-family: Tomica;
        font-style: normal;
        font-weight: bold;
        font-size: 17px;
        line-height: 127%;
        display: flex;
        align-items: center;
        letter-spacing: -0.005em;
        color: #5E6282;
      }
      .fa{
        position: absolute;
        width: 497px;
        height: 31px;
        left: 490.99px;
        top: 1900px;
        font-family: Tomica;
        font-style: normal;
        font-weight: 900;
        font-size: 35px;
        line-height: 35px;
        text-align: center;
        letter-spacing: 0.13em;
        text-transform: uppercase;
        color: #00FF47;
        border: 0.5px solid #fcf3f3;
        text-shadow: 2px 2px 0px #000000;
        }
        .bordss{
          position: absolute;
          width: 708px;
          height: 214px;
          left: 373px;
          top: 2000px;
          background: #FFFFFF;
          border: 1px solid #000000;
          box-sizing: border-box;
          border-radius: 20px;

        }
        .doi{
          position: absolute;
          width: 504px;
          height: 26px;
          left: 414.99px;
          top: 2020px;
          font-family: Tomica;
          font-style: normal;
          font-weight: bold;
          font-size: 18px;
          line-height: 124.5%;
          color: #000000;
        }
        .mus{
          position: absolute;
          width: 23px;
          height: 26px;
          left: 1033.99px;
          top: 2020px;
          font-family: Tomica;
          font-style: normal;
          font-weight: bold;
          font-size: 18px;
          line-height: 124.5%;
          text-align: center;
          color: #000000;
        }
        .brds{
          position: absolute;
          width: 708px;
          height: 0px;
          left: 373px;
          top: 2060px;
          border: 1px solid #000000;

        }
        .yese{
          position: absolute;
          width: 626px;
          height: 86px;
          left: 415px;
          top: 2100px;
          font-family: Tomica;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 124.5%;
          color: #9b9292;
          }
          .brf{
            position: absolute;
            width: 708px;
            height: 50px;
            left: 373px;
            top: 2250px;
            background: #FFFFFF;
            border: 1px solid #000000;
            box-sizing: border-box;
            border-radius: 20px;
          }
          .arem{
            position: absolute;
            width: 494px;
            height: 22px;
            left: 414.99px;
            top: 2260px;
            font-family: Tomica;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 124.5%;
            color: #000000;

          }
          .plu{
            position: absolute;
            width: 24px;
            height: 26px;
            left: 1032.99px;
            top: 2260px;
            font-family: Tomica;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 124.5%;
            text-align: center;
            color: #000000;
          }
          .brfs{
            position: absolute;
            width: 708px;
            height: 50px;
            left: 373px;
            top: 2320px;
            background: #FFFFFF;
            border: 1px solid #000000;
            box-sizing: border-box;
            border-radius: 20px;
          }
          .cani{
            position: absolute;
            width: 494px;
            height: 22px;
            left: 414.99px;
            top: 2340px;
            font-family: Tomica;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 124.5%;
            color: #000000;
          }
          .pluss{
            position: absolute;
            width: 24px;
            height: 26px;
            left: 1032.99px;
            top: 2340px;
            font-family: Tomica;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 124.5%;
            text-align: center;
            color: #000000;
          }
          .brfss{
            position: absolute;
            width: 708px;
            height: 50px;
            left: 373px;
            top: 2400px;
            background: #FFFFFF;
            border: 1px solid #000000;
            box-sizing: border-box;
            border-radius: 20px;
          }
          .wher{
            position: absolute;
            width: 494px;
            height: 22px;
            left: 414.99px;
            top: 2420px;
            font-family: Tomica;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 124.5%;
            color: #000000; 
          }
          .plusss{
            position: absolute;
            width: 24px;
            height: 26px;
            left: 1032.99px;
            top: 2420px;
            font-family: Tomica;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 124.5%;
            text-align: center;
            color: #000000; 
          }
          .brfsss{
            position: absolute;
            width: 708px;
            height: 50px;
            left: 373px;
            top: 2480px;
            background: #FFFFFF;
            border: 1px solid #000000;
            box-sizing: border-box;
            border-radius: 20px; 
          }
          .whers{
            position: absolute;
            width: 494px;
            height: 22px;
            left: 414.99px;
            top: 2490px;
            font-family: Tomica;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 124.5%;
            color: #000000; 
          }
          .plussss{
            position: absolute;
            width: 24px;
            height: 26px;
            left: 1032.99px;
            top: 2490px;
            font-family: Tomica;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 124.5%;
            text-align: center;
            color: #000000; 
          }
          .brfa{
            position: absolute;
            width: 708px;
            height: 50px;
            left: 373px;
            top: 2560px;
            background: #FFFFFF;
            border: 1px solid #000000;
            box-sizing: border-box;
            border-radius: 20px; 
           
          }
          .oth{
            position: absolute;
            width: 494px;
            height: 22px;
            left: 414.99px;
            top: 2580px;
            font-family: Tomica;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 124.5%;
            color: #000000; 
          }
          .pl{
            position: absolute;
            width: 24px;
            height: 26px;
            left: 1032.99px;
            top: 2580px;
            font-family: Tomica;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 124.5%;
            text-align: center;
            color: #000000; 
 
          }
          .gts{
            position: absolute;
            width: 497px;
            height: 31px;
            left: 452px;
            top: 2800px;
            font-family: Tomica;
            font-style: normal;
            font-weight: 900;
            font-size: 35px;
            line-height: 35px;
            text-align: center;
            letter-spacing: 0.13em;
            text-transform: uppercase;
            color: #00FF47;
            border: 0.5px solid #f5eeee;
            text-shadow: 2px 2px 0px #000000;
          }
          .bgs{
              position: absolute;
              width: 692px;
              height: 767px;
              left: 373px;
              top: 2900px;
              background: #FFFFFF;
              border: 0.5px solid #FFFFFF;
              box-sizing: border-box;
              box-shadow: 10px 10px 21px 2px rgba(0, 0, 0, 0.22);
              border-radius: 73px 0px;

          }
          .brsd{
            position: absolute;
            width: 504px;
            height: 60px;
            left: 464px;
            top: 3000px;
            background: #F8F8F8;
            border: 2px solid #595959;
            box-sizing: border-box;
            border-radius: 100px;
          }
          .emsa{
            position: absolute;
            width: 132px;
            height: 56px;
            left: 523px;
            top: 3005px;
            font-family: Tomica;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 51px;
            display: flex;
            align-items: center;
            color: #000000;
            opacity: 0.4;
          }
          .brsdd{
            position: absolute;
            width: 504px;
            height: 60px;
            left: 464px;
            top: 3080px;
            background: #F8F8F8;
            border: 2px solid #E7E7E7;
            box-sizing: border-box;
            border-radius: 100px;
          }
          .naem{
            position: absolute;
            width: 132px;
            height: 56px;
            left: 523px;
            top: 3080px;
            font-family: Tomica;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 51px;
            display: flex;
            align-items: center;
            color: #000000;
            opacity: 0.4;
          }
          .brsdsd{
            position: absolute;
            width: 504px;
            height: 60px;
            left: 464px;
            top: 3160px;
            background: #F8F8F8;
            border: 2px solid #E7E7E7;
            box-sizing: border-box;
            border-radius: 100px;
          }
          .subj{
            position: absolute;
            width: 132px;
            height: 56px;
            left: 523px;
            top: 3160px;
            font-family: Tomica;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 51px;
            display: flex;
            align-items: center;
            color: #000000;
            opacity: 0.4;
          }
          .brsdss
          {
            position: absolute;
            width: 504px;
            height: 243px;
            left: 464px;
            top: 3240px;
            background: #F8F8F8;
            border: 2px solid #E7E7E7;
            box-sizing: border-box;
            border-radius: 45px;
          }
          .mesgs
          {
            position: absolute;
            width: 132px;
            height: 56px;
            left: 523px;
            top: 3240px;
            font-family: Tomica;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 51px;
            display: flex;
            align-items: center;
            color: #000000;
            opacity: 0.4;
          }
          .loremi{
              position: absolute;
              width: 194px;
              height: 31px;
              left: 492px;
              top: 3600px;
              font-family: Tomica;
              font-style: normal;
              font-weight: normal;
              font-size: 12px;
              line-height: 14px;
              display: flex;
              align-items: center;
              color: #000000;
              opacity: 0.7;
          }
          .sends{
            position: absolute;
            width: 120px;
            height: 50px;
            left: 800px;
            top: 3580px;
            background: #00FF47;
            border: 1px solid black;
            text-align: center;
            box-sizing: border-box;
            border-radius: 100px;
          }
          .brsdp{
            position: absolute;
            width: 1300px;
            height: 372px;
            left: 0px;
            top: 3700px;
            background: #FFFFFF;
            border: 1px solid #000000;
            box-sizing: border-box;
            box-shadow: 0px -3px 9px -2px rgba(0, 0, 0, 0.25);
            border-radius: 40px 40px 0px 0px;
          }
          .pics{
            position: absolute;
            width: 271px;
            height: 84px;
            left: 65px;
            top: 100px;
            background: url(polys.png);
          }
          .exp{
            position: absolute;
            width: 100px;
            height: 210px;
            left: 500px;
            top: 100px;
            font-family: Tomica;
            font-style: normal;
            font-weight: normal;
            font-size: 19px;
            line-height: 35px;
            text-align: right;
            color: #000000;
          }
          .lin{
            position: absolute;
            width: 300px;
            height: 0px;
            left: 600px;
            top: 150px;
            border: 1px solid #000000;
            transform: rotate(90deg);
          }
          .subs{
            position: absolute;
            width: 270px;
            height: 31px;
            left: 800px;
            top: 100px;
            font-family: Tomica;
            font-style: normal;
            font-weight: 900;
            font-size: 35px;
            line-height: 35px;
            letter-spacing: 0.13em;
            text-transform: uppercase;
            color: #00FF47;
            border: 0.5px solid #f8eeee;
            text-shadow: 2px 2px 0px #000000;
          }
          .subsc{
            position: absolute;
            width: 450px;
            height: 55px;
            left: 800px;
            top: 150px;
            font-family: Tomica;
            font-style: normal;
            font-weight: normal;
            font-size: 19px;
            line-height: 26px;
            color: #5E6282;
          }
          .bxc{
            position: absolute;
            width: 320px;
            height: 56.07px;
            left: 800px;
            top: 230px;
            background: #FFFFFF;
            border: 1px solid #000000;
            box-sizing: border-box;
            border-radius: 40px;
          }
          .txtt{
            position: absolute;
            width: 101.56px;
            height: 13px;
            left: 850px;
            top: 250.09px;
            font-family: Tomica;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 16px;
            color: #39425D;

          }
          .subss{
        
              position: absolute;
              width: 120px;
              height: 50px;
              left: 1150px;
              top: 230.09px;
              background: #00FF47;
              border: 1px solid black;
              text-align: center;
              box-sizing: border-box;
              border-radius: 100px;
            }
          .lins{
            position: absolute;
            width: 1298px;
            height: 0px;
            left: 0px;
            top: 300px;
            border: 1px solid #000000;
          }
          .logss{
            position: absolute;
            width: 50px;
            height: 50px;
            left: 40px;
            top: 315px;
            background: url(logs.png);
          }
          .term{
            position: absolute;
            width: 114px;
            height: 31px;
            left: 120px;
            top: 325px;
            font-family: Tomica;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 14px;
            display: flex;
            align-items: center;
            color: #000000;
            opacity: 0.7;
          }
          .prv{
            position: absolute;
            width: 114px;
            height: 31px;
            left: 260px;
            top: 325px;
            font-family: Tomica;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 14px;
            display: flex;
            align-items: center;
            color: #000000;
            opacity: 0.7;

          }
          .pol{
            position: absolute;
            width: 114px;
            height: 31px;
            left: 1200px;
            top: 325px;
            font-family: Tomica;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 14px;
            display: flex;
            align-items: center;
            color: #000000;
            opacity: 0.7;

          }
